NEXT_PUBLIC_SUPABASE_URL=https://vdqajlvcaqudzzjsnntd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZkcWFqbHZjYXF1ZHp6anNubnRkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxMjg0ODksImV4cCI6MjEwNDcwNDQ4OX0.I8ScN97Th1XmDwxNEiGRiRa-0PeHDhPeSi_rKIAspQQ
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=ejvnjfaf
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=kr_web_dm_stuoz
